---
layout: default
---

<nav id="main-content">
	{{ content }}

	<ul id="post-list">
		{%- assign date_format = "%b %-d, %Y" -%}
		{%- assign posts = site.posts -%}

		{%- for post in posts -%}
			{%- if post.hidden != true -%}
			<li class="post-card">
				<a class="post-link" href="{{ post.url | relative_url }}">
					<div>
						<h2>{{ post.title | escape }}</h2>
						<p class="excerpt">{{ post.excerpt }}</p>
						<span class="post-meta">{{ post.date | date: date_format }}</span>
					</div>
				</a>
			</li>
			{%- endif -%}
		{%- endfor -%}
	</ul>
</nav>